//! **************************************************************************
// Written by: Map O.61xd on Tue Oct 09 14:36:13 2012
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "L13" LEVEL 1;
COMP "clock" LOCATE = SITE "V4" LEVEL 1;
PIN clock_pin<0> = BEL "clock" PINNAME PAD;
PIN "clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "B" LOCATE = SITE "L14" LEVEL 1;
COMP "C" LOCATE = SITE "H18" LEVEL 1;
COMP "outadd" LOCATE = SITE "F12" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
COMP "outcarry" LOCATE = SITE "E12" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

