NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 | TNM_NET = CLK;
TIMESPEC TS_clk = PERIOD CLK 20.0ns HIGH 40%;

NET "reset" LOC = D18 | IOSTANDARD = LVTTL | PULLDOWN;

NET "switches<0>" LOC = L13 | IOSTANDARD = LVTTL;
NET "switches<1>" LOC = L14 | IOSTANDARD = LVTTL;
NET "switches<2>" LOC = H18 | IOSTANDARD = LVTTL;
NET "switches<3>" LOC = N17 | IOSTANDARD = LVTTL;

NET "LED<7>" LOC = F9  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = E9  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = D11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = C11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = F11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = E11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = E12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = F12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "LCD<0>" LOC = B4  | IOSTANDARD = LVTTL; 
NET "LCD<1>" LOC = A4  | IOSTANDARD = LVTTL;
NET "LCD<2>" LOC = D5  | IOSTANDARD = LVTTL;
NET "LCD<3>" LOC = C5  | IOSTANDARD = LVTTL;
NET "LCD<4>" LOC = A6  | IOSTANDARD = LVTTL; 
NET "LCD<5>" LOC = B6  | IOSTANDARD = LVTTL;
NET "LCD<6>" LOC = E7  | IOSTANDARD = LVTTL;
NET "LCD<7>" LOC = F7  | IOSTANDARD = LVTTL;